@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
:root {
    --background-clr: #fdfdfd;
    --ffamily:'Red Hat Display';
    --title-clr:#28283d;
    --subheading-text: #87879d;
    --btn-download: #3f8b9e;
    --btn-download-hower: #8ecedf;
    --text-white:#fafafa;
    --text-clr-hover: #615f5f;
    --btn-what: #7449a7;
    --btn-what-hover:#a17ace;
    --version-clr:#adc3c9;
    --line-clr: #d8d8d8;
    --line-number: #87879d;
    --modern-use: #3c8699;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-clr);
    height: 100%;
    font-family: var(--ffamily);
    font-weight: 900;
}

header {
    text-align: center;
    margin-top: 5rem;
}

p {
    font-weight: 500;
    font-size: 18px;
}

/*FIRST PART*/

.first-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-photo {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.left-group {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(3, 1fr));
    grid-template-rows: repeat(2, 1fr);
    margin-left: -2vw;
    padding-top: 3rem;
    width: 30vw;
    height: 200px;
}

.right-group {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(3, 1fr));
    grid-template-rows: repeat(2, 1fr);
    padding-top: 3rem;
    width: 30vw;
    height: 200px;
}

.left-group img, 
.right-group img {
    height: auto;
    width: 100%;
    border-radius: 50%;
    margin: 20px auto;
    max-width: 130px;
}

.profile-photo-2, .profile-photo-5 {
    transform: translateY(-50%);
}

.profile-photo-8, .profile-photo-11 {
    transform: translateY(-50%);
}

.profile-photo-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.profile-photo-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.profile-photo-3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.profile-photo-4 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.profile-photo-5 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.profile-photo-6 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.profile-photo-7 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.profile-photo-8 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.profile-photo-9 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.profile-photo-10 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.profile-photo-11 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.profile-photo-12 {
    grid-column: 3/4;
    grid-row: 2/3;
}

/*TITTLE*/

.middle-group {
    position: relative;
    text-align: center;
    padding: 10rem 5rem;
}

.title {
    font-size: 70px;
    line-height: 62px;
    margin-bottom: 2.5rem;
    color: var(--title-clr);
    text-align: center;
}

.subheading {
    color: var(--subheading-text);
    text-align: center;
    margin-bottom: 2.5rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-download {
    text-decoration: none;
    background-color: var(--btn-download);
    color: var(--text-white);
    border-radius: 25px;
    font-size: 20px;
    padding: 10px 20px;
    margin: 25px 10px;
}

.btn-download:hover {
    background-color: var(--btn-download-hower);
    color: var(--text-clr-hover);
}

.btn-download > span {
    color: var(--version-clr);
}

.btn-what {
    text-decoration: none;
    background-color: var(--btn-what);
    color: var(--text-white);
    border-radius: 25px;
    font-size: 19px;
    padding: 10px 20px;
    margin: 25px 10px;
}

.btn-what:hover {
    background-color: var(--btn-what-hover);
    color: var(--text-clr-hover);
}

/*LINE*/

.line {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.first-line {
    width: 1px;
    height: 95px;
    background-color: var(--line-clr);
}

.line-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid var(--line-clr);
    border-radius: 50%;
    font-size: 16px;
    color: var(--line-number);
}

/*SECOND PART - ALBUM*/

.album {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px auto;
}

.images {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(4, 1fr));
    grid-template-rows: repeat(autofit, minmax(4, 1fr)) ;
    grid-gap: 30px;
}

.images > img {
    width: 17rem;
    height: 16rem;
    border-radius: 15px;
}

.album-image-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.album-image-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.album-image-3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.album-image-4 {
    grid-column: 4/5;
    grid-row: 1/2;
}

/*THIRD PART*/

.smarter-meetings {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
}
.modern-use {
    color: var(--modern-use);
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

h2 {
    color: var(--title-clr);
    font-size: 45px;
    line-height: 45px;
}

.all-in-one {
    margin-top: 3.5rem;
    margin-bottom: 4rem;
    font-size: 20px;
    color: var(--subheading-text);
    line-height: 25px;
    font-weight: 200;
}

footer {
    background: linear-gradient(rgba(77, 150, 169, 0.8), rgba(77, 150, 169, 0.8)), url(assets/desktop/image-footer.jpg);
    background-size: cover;
    background-position: top;
    height: 355px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.line-2 {
    position: relative;
    bottom: -25px;
    margin-top: 50px;
}

.line-2 .line-number {
    background-color: var(--text-white);
}

h3 {
    font-size: 45px;
    color: var(--text-white);
    max-width: 500px;
}

.text-footer {
    color: var(--text-white);
    max-width: 400px;
    font-size: 18px;
}

.btn-footer{
    text-decoration: none;
    background-color: var(--btn-what);
    color: var(--text-white);
    border-radius: 25px;
    font-size: 19px;
    padding: 10px 22px;
    margin: 25px 10px;
}

.btn-footer:hover {
    background-color: var(--btn-what-hover);
    color: var(--text-clr-hover);
}

.btn-footer > span {
    color: var(--version-clr);
}

@media (max-width: 1225px){
    .album-image-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .album-image-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .album-image-3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .album-image-4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

@media (max-width: 1150px){
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        margin-top: 4rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .text-footer {
        text-align: center;
    }
}

@media (max-width:750px) {
    .album {
        min-width: 100vw;
    }

    .btn-download{
        font-size: 15px;
        padding: 15px 13px;
        margin: 15px 5px;
    }

    .btn-what {
        font-size: 15px;
        padding: 15px 13px;
        margin: 15px 5px;
    }

    .buttons{
        display: flex;
        flex-direction: column;
    }

    .images > img {
        width: 14rem;
        height: 13rem; 
    }
}

@media(max-width: 495px){
    .images > img {
        width: 10rem;
        height: 9rem; 
    }
}

@media (max-width: 450px) {
    body {
        min-width: 340px;
    }

    .line {
        margin-left: 90px;
    }

    .smarter-meetings {
        margin-left: 90px;
    }

    footer {
        min-width: 500px;
    }

    .images{
        margin-left: 90px;
    }

    .images > img {
        width: 11rem;
        height: 10rem; 
    }

    .middle-group {
        margin-left: 30px;
    }
}

@media (max-width: 350px){
    .images {
        margin-left: 150px;
    }

    .smarter-meetings {
        margin-left: 150px;
        max-width: 480px;
    }

    .line {
        margin-left: 150px;
    }

    .middle-group {
        margin-left: 20px;
    }
}